   <ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/create">Every Day Make Over</a></li>
  <li><a href="/braider">braider Make up</a></li>
  <li><a href="/tradition">Traditional Make over</a></li>
  <li><a href="/addBirthday">Birthday</a></li>
   <li><a href="/addWedding">Wedding</a></li>
    <li><a href="/addCoronation">Coronation</a></li>
     <li><a href="/addAdvert">Add Advert</a></li>
       <li><a href="/addbookings">Add Booked Client</a></li>
        <li><a href="/display">Show Booked Client</a></li>
        <li><a href="/show">Client for job</a></li> 
         <li><a href="/contact_show">Contacts</a></li> 
   <li><a href="/auth/logout">Logout</a></li> 
</ul> 