<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style> 

  {{> admin_nav}}
    <div class="blog">
		<div class="container">
			<div class="reply heading">
				<h3>Advertise Here </h3>
        <p>Horizontal 1600, Vertical 800</p>
      {{#if msg}}
          <div class="alert alert-success" role="alert">
						<strong>Well done!</strong> {{msg}}
				   </div>
           {{else}}
					 {{msg}}
      {{/if}}
				<div class="reply-btm">
				<form method="POST" action="/uploadadvert" enctype='multipart/form-data'>
					<input type="text" name="title" placeholder="Title">
					<textarea name="description" placeholder="Message" required></textarea>
					   <input type='file' name='myImage' />
					<div class="submit-btn">
						<input type="submit" value="Post" name="submit">
					</div>
				</form>	
				</div>
			</div>
		</div>
	</div>			

  